body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

h1, h2, h3 {
	background-color: #201751;
	color: white;
	display: block;
	width: 1200px;
	padding: 1em;
}

.fakelink {
    color: blue;
    text-decoration: underline;
}

.fakelink:hover {
    cursor: pointer;
}

dt {
    display: block;
    clear: left;
    float: left;
    width: 250px;
}

dd {
    display: block;
    clear: right;
    width: 500px;
    margin-left: 250px;
    margin-bottom: 12pt;
}